
body{
    margin: 0;
    width: 100%;
    height: 100%;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.st-container{
    background-color: #1f2937;
    color: #f9faf8; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 30px;
    flex-wrap: wrap;
    flex: 1;
    padding-bottom: 100px;
}


ul{ 
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap : 15px ;
    
}

.upper-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}


.up-content { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.box{
    background-color: gray;
    padding: 50px 50px;
    margin: 20px;
}

.hero-font{
    font-size: 48px;
    font-weight: bolder;
    display: flex;
    margin: 0 0;
}

.upper-right-content{
    display: flex;
    flex-direction: column ;
    flex:1;
    max-width: 400px;
    padding: 10px 10px ;
}

.upper-left-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-up{
    background-color: #3882f6;
    border: none;
    border-radius: 550px;
    padding: 10px;
    max-width: 100px;
     color: #f9faf8;
     cursor: pointer;
}


.bluebox{
    border: 2px;
    border-color: blue;
    border-style: solid;
    padding: 20px;
    border-radius: 10px;
    min-height: 100px;
    max-width: 100px;
    display:flex ;
    justify-content: center;
}

.middle-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.informations{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    text-align: center;
    gap: 20px;
    justify-content: center;
    margin-bottom: 100px;
}

.texty{
    margin-top: 20px;
    max-width: 200px;
}


.quote{
    background-color: #e5e7eb;
    padding: 200px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.thor-quote { 
    font-style: italic;
    font-size: 36px;
    flex-wrap: wrap;
    flex: 1;
}

.thor-author {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: bold;
}

.box-quote{
    max-width: 800px;
}


.th-container  { 
    display: flex;
    justify-content: center;
}

.blue-box-msg{
    background-color: #3882f6;
    padding: 40px 100px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    color: #f9faf8;
    border-radius: 10px;

}

.sign-msg-button{
    background-color: #3882f6;
    border-radius: 5px;
    border-color: #f9faf8;
    padding: 5px 10px;
    color: #f9faf8;
    box-sizing: border-box;
    border-style: solid;
}


a{
    text-decoration: none;
    color: #f9faf8;
}

.footers{
    padding: 30px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    color: #f9faf8;
}